.menu-des-roulants, .menu-des-roulants ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.menu-des-roulants li {
  display: inline-block;
  position: relative;
  border-radius: 8px 8px 0 0;
}

.menu-des-roulants ul li {
  display: inherit;
  border-radius: 0;
}

.menu-des-roulants ul li:hover {
  border-radius: 0;
}

.menu-des-roulants ul li:last-child {
  border-radius: 0 0 8px 8px;
}

.menu-des-roulants ul {
  position: absolute;
  z-index: 1000;
  max-height: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -moz-transition: .8s all .3s;
  -webkit-transition: .8s all .3s;
  transition: .8s all .3s;
}

.menu-des-roulants li:hover ul {
  max-height: 15em;
}

.menu-des-roulants li:first-child {
  background-color: #65537A;
  background-image: -webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
  background-image: linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}

.menu-des-roulants li:nth-child(2) {
  background-color: #729EBF;
  background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
  background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}

.menu-des-roulants li:nth-child(3) {
  background-color: #F6AD1A;
  background-image: -webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
  background-image: linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}

.menu-des-roulants li:last-child {
  background-color: #CFFF6A;
  background-image: -webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
  background-image: linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}

.menu-des-roulants li:first-child li {
  background: #2A2333;
}

.menu-des-roulants li:nth-child(2) li {
  background: #333A40;
}

.menu-des-roulants li:nth-child(3) li {
  background: #9F391A;
}

.menu-des-roulants li:last-child li {
  background: #677F35;
}

.menu-des-roulants li:first-child:hover, .menu-des-roulants li:first-child li:hover {
  background: #65537A;
}

.menu-des-roulants li:nth-child(2):hover, .menu-des-roulants li:nth-child(2) li:hover {
  background: #729EBF;
}

.menu-des-roulants li:nth-child(3):hover, .menu-des-roulants li:nth-child(3) li:hover {
  background: #F6AD1A;
}

.menu-des-roulants li:last-child:hover, .menu-des-roulants li:last-child li:hover {
  background: #CFFF6A;
}

/* les a href */
.menu-des-roulants a {
  text-decoration: none;
  display: block;
  padding: 8px 32px;
  color: #fff;
  font-family: "Arial", serif;
}

.menu-des-roulants ul a {
  padding: 8px 0;
}

.menu-des-roulants li:hover li a {
  color: #fff;
  text-transform: inherit;
}

.menu-des-roulants li:hover a, .menu-des-roulants li li:hover a {
  color: #000;
}